@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* Colors */
:root {

/* Primary */
--soft-red: hsl(10, 79%, 65%);
--cyan: hsl(186, 34%, 60%);

/* Neutral */
--dark-brown: hsl(25, 47%, 15%);
--medium-brown: hsl(28, 10%, 53%);
--cream: hsl(27, 66%, 92%);
--very-pale-orange: hsl(33, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', 'Fira Sans', 'Droid Sans', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cream);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  height: 100vh;
}
.container {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* Balance */
.balance-box {
 background-color: var(--soft-red);
 color: var(--very-pale-orange);
 width: 100%;
 border-radius: 10px;
 padding: 1em;
 display: flex;
 justify-content: space-between;
}

.balance-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center
}
.icon .brown-circle {
  width: 45px;
  height: 45px;
  background-color: var(--dark-brown);
  border-radius: 100%;
  position: relative;
}
.icon .brown-circle .white-outline {
  width: 100%;
  height: 100%;
  border: 1px solid var(--very-pale-orange);
  border-radius: 100%;
  position: absolute;
  left: -25px;
  z-index: 1;
}

/* Spending */

.spending-box {
  background-color: var(--very-pale-orange);
  color: var(--dark-brown);
  width: 100%;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.graph-container {
  width: 100%;
  border-bottom: solid 1px var(--medium-brown);
  display: flex;
  justify-content: space-evenly;
}
.graph-column {
  height: 175px;
  width: 14%;
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.graph-column h5 {
  justify-self: center;
  color: var(--medium-brown);
}
.graph-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: .25em;
}
.graph-bar-label {
  width: 100%;
  text-align: center;
  color: var(--very-pale-orange);
  background-color: var(--dark-brown);
  border-radius: 3px;
  padding: .25em;
}
.dummy-bar {
  width: 75%;
  background-color: var(--soft-red);
  border-radius: 3px;
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.total-section h5 {
  color: var(--medium-brown);
}
.total-section-left h1 {
  font-size: 2em;
}
.total-section-right {
  text-align: right;
}


.attribution {
  font-size: 11px;
  text-align: center;
  flex-direction: column;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}