@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* Variables */
:root {

/* Primary Colors */
--soft-red: hsl(10, 79%, 65%);
--cyan: hsl(186, 34%, 60%);

/* Neutral Colors */
--dark-brown: hsl(25, 47%, 15%);
--medium-brown: hsl(28, 10%, 53%);
--cream: hsl(27, 66%, 92%);
--very-pale-orange: hsl(33, 100%, 98%);

/* Fonts */
--heading-xl: 48px;
--heading-xl-mobile: 30px;
--heading-l: 32px;
--heading-l-mobile: 24px;
--reg-font: 18px;
--reg-font-mobile: 15px;
--mini-caption: 15px;
--mini-caption-mobile: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', 'Fira Sans', 'Droid Sans', sans-serif;
  font-size: var(--reg-font-mobile);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cream);
}
h1 {
  font-size: var(--heading-xl-mobile);
  font-weight: 700;
}
h2 {
  font-size: var(--heading-l-mobile);
  font-weight: 700;
}
.mini-caption {
  font-size: var(--mini-caption-mobile);
  color: var(--medium-brown);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 1em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  width: 343px;
}

/* Balance */
.balance-box {
 background-color: var(--soft-red);
 color: var(--very-pale-orange);
 width: 100%;
 height: 97px;
 border-radius: 10px;
 padding: 0 1em;
 display: flex;
 justify-content: space-between;
}

.balance-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center
}
.icon .brown-circle {
  width: 40px;
  height: 40px;
  background-color: var(--dark-brown);
  border-radius: 100%;
  position: relative;
}
.icon .brown-circle .white-outline {
  width: 100%;
  height: 100%;
  border: 1px solid var(--very-pale-orange);
  border-radius: 100%;
  position: absolute;
  left: -25px;
  z-index: 1;
}

/* Spending */

.spending-box {
  background-color: var(--very-pale-orange);
  color: var(--dark-brown);
  height: 421px;
  width: 100%;
  border-radius: 10px;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.graph-container {
  width: 100%;
  border-bottom: solid 2px var(--cream);
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1em;
}
.graph-column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: .25em;
}
.graph-bar-label {
  font-size: var(--mini-caption-mobile);
  padding: .25em;
  width: 100%;
  text-align: center;
  color: var(--very-pale-orange);
  background-color: var(--dark-brown);
  border-radius: 3px;
  height: auto;
  visibility: hidden;
}
.graph-bar {
  width: 33px;
  background-color: var(--soft-red);
  border-radius: 3px;
}
.graph-column p {
  justify-self: center;
}
.graph-column:hover {
  cursor: pointer;
}
.graph-column:hover > .graph-bar-label {
  visibility: visible;
}
.graph-column:hover > .graph-bar {
  opacity: 65%;
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.total-section h5 {
  color: var(--medium-brown);
}
.total-section-left h1 {
  font-size: 2em;
}
.total-section-right {
  text-align: right;
}


.attribution {
  font-size: 11px;
  text-align: center;
  flex-direction: column;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (min-width: 600px) {
  body {
    font-size: var(--reg-font);
  }
  h1 {
    font-size: var(--heading-xl);
  }
  h2 {
    font-size: var(--heading-l);
  }
  .mini-caption {
    font-size: var(--mini-caption);
  }
  .container {
    width: 540px;
  }
  .balance-box {
    height: 125px;
  }
  .icon .brown-circle {
    width: 48px;
    height: 48px;
  }
  .spending-box {
    height: 511px;
  }
  .graph-column {
    width: 75px;
  }
  .graph-bar-label {
    font-size: var(--reg-font);
  }
  .graph-bar {
    width: 50.36px;
  }
}